
<section class="row">
	<div class="col-lg-12 col-md-12">
				<div class="row">
						<div class="col-lg-12 header-center">
        <div><img id="img-burger" src="../assets/images/burger-icon-black.png" alt="burger" /></div>
				<h1>EAT DA BURGER!</h1>
				<h3>If you can dream it, you can eat it!</h3>
					<h2>Create Your Burger</h2>
            <form class="create-form">
							<div class="col-lg-1 col-md-1"></div>
              <div class="form-group col-lg-10 col-md-10">
                <label for="burg"><h3>Burger Name:</h3></label>
                <input class="form-control input-lg" type="text" id="burg" aria-describedby="Your Burger Name" name="name" />
                <button id="add-burger" class="btn-lg" type="submit">Add Burger</button>
              </div>
							<div class="col-lg-1 col-md-1"></div>
            </form>
					</div>
				</div>	
			</div>
</section>
<section class="row">
			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div><h1>Burger to Eat</h1></div>
						<div >
              <ul id="pad-right">
							<h3>
              {{#each burger}}
                {{#unless devoured}}
                 <li>{{burger_name}}
                    <button id="button-devour" class="devour" data-id="{{id}}" data-devour="{{devoured}}">
                    Devour it!</button></li>
                {{/unless}}
              {{/each}}
							</h3>
            </ul>
            </div>
					</div>
				</div>
			</div>


			<div class="col-lg-6 col-md-6">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div><h1>Devoured Burgers</h1></div>
					    <ul id="pad-right">
								<h3>
                {{#each burger}}
                  {{#if devoured}}
                    <li>{{burger_name}}
											<button id="button-devour" class="delete-burger" data-id="{{this.id}}">
                    Delete</button></li>
                  {{/if}}
                {{/each}}
								</h3>
              </ul>
					</div>
				</div>
			</div>
</section>
